name: test

on:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      output1: ${{ steps.step1.outputs.test }}
      output2: ${{ steps.step2.outputs.test }}
      outputZ: ${{ steps.step2.outputs.matrix }}
    steps:
      - id: step1
        run: echo "::set-output name=test::hello"
      - id: step2
        run: echo "::set-output name=test::world"
      - id: step3
        run: |
          export load_matrix='["01","02","03","04","05","06","07","08"]'
          echo "::set-output name=matrix::${load_matrix}"
  job2:
    runs-on: ubuntu-latest
    needs: job1
    strategy:
      fail-fast: true
      max-parallel: 4
      matrix:
        partnum: ${{ fromJson(needs.job1.outputs.matrix) }}
    steps:
      - run: echo ${{needs.job1.outputs.output1}} ${{needs.job1.outputs.output2}}
      - run: echo ${{env.partnum}}
